/LSSO/WebApplication2/obj
/LSSO/WebApplication2/bin
/LSSO/WebApplication1/obj
/LSSO/WebApplication1/bin
/LSSO/LSSO/bin
/LSSO/.vs/LSSO/v15/*.suo
/LSSO/LSSO/obj
/LarkSSO/.vs
/LarkSSO/TestTarget/obj
/LarkSSO/TestTarget/bin
/LarkSSO/LarkSSO/obj
/LarkSSO/LarkSSO/bin
